body, html {
margin-top: 0px;
margin-bottom: 0px;
margin-left: 0;
margin-right: 0;
display: flex;
height: 100%;
width: 100%;  
}
#nume {
text-align: center;
color:#705aec;
}
.subtitle {
  text-align: center;
}
.background {
display: grid;
place-content: center;
position: relative;
}
.background::after {
content: '';
position: absolute;
z-index: -1;
inset: 0;
color:rgb(134, 122, 225);
opacity: 0.2;
background-image: url("https://github.com/NicoletaNegreanu16/cv/blob/main/Image/catel.jpg?raw=true");
}
body { 
  font-family: Handlee, cursive;
  height: 100%; 
  padding-right: 0px;
  padding-left: 0px;
  width: 100%;
  display: inline;
  color:rgb(62, 55, 255);
  font-size: 20px;
  margin-top: 0;
  background-size: 100% 100%;
}
 h1 {
    font-size: 35pt;
    color: #a70b80d5;
    text-align: left;
    padding: 25px 10px 25px 10px;
    margin: 30px 20px 10px 40px;
 }
 .img-circle {
    border: 4px solid rgb(146, 220, 233);
    border-radius: 50%;
    display:  center;
   }
 h3 {
    color: #E96479;
    font-size: 30px;
    text-align: left;
    width: 100%;
    padding-left: 45px;
  }
  p {
    padding: 0px 30px 0px 30px;
    margin: 10px;
    text-align: center;
    width: 90%;
    font-size: 20px;
    color:#857db9;
 }
 ul {
    padding: 0px 50px 0px 50px;
    margin: 10px;
    text-align: center;
    width: 90%;
    font-size: 20px;
    color:#897db9;
 }
  li {
      margin-bottom: 10px;
      font-weight: bold;
      display: inline;
      margin-left: 10px;
       }
 table {
    border-color: #346370;
    text-align: center;
    border: 15px, solid #9de2f5;
    margin-left: 80px;
    width: 90%;
    font-size: 30px;
    color:rgb(134, 122, 225);
   }
   .table1 {
    margin-left: 30px;
    width: 700px;
    height: 309px;
    display: inline;
     }
       th {
      background-color: #b0c5cf;
      border: 35px, solid #395B64;
      color:rgb(0, 9, 128)
     }
    hr {
     border-style: none;
     border-top-style: dotted;
     border-color: #FFB84C;
     border-width: 15px;
     width: 15%;
  }
  ol {
    color:#E96479;
    font-size: 20px;
  }
a {
text-decoration: underline;
display: inline-block;
margin-left: 0%;
text-align: center;
padding: 10px;
box-sizing: border-box;
width:auto;
color: rgb(162, 51, 253);/* de bagat gri aici */
background-color: rgb(122, 210, 225);
}
a:hover {
background-color: rgb(88, 88, 199);
}
input[type='text'], input[type='email'] {
  border:3px solid rgb(34, 0, 128);
  width:100%;
  padding: 5px;
  color: rgb(19, 0, 128);
  font-weight: bold;
}
label {
  font-weight: bold;
  color:rgb(49, 0, 128);
}
input[type='button'] {
  background-color: rgb(0, 9, 128);
  border: none;
  border-radius: 10px;
  padding: 10px 10px;
  font-weight: bold;
  color: white;
}
form {
  display: flex;
}
.copyright {
  font-size: 14pt;
  text-align: center;
  padding-bottom: 10px;
  color: #E96479;
}
