html{
  margin: 40px;
  padding: 40px;
}
body {
  font-family: 'Handlee', cursive;
   background-image: url("catel.jpg");
   background-attachment: fixed;
   font-size: 13pt;
   padding: 30px;
   margin: 0;
   }
   .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
   h1{
    font-size: 45px;
    color:#05000f;
    text-align: left;
    padding: 18px 0 18px 0;
    margin: 0 0 10px 0;
   }
   h1 span{
    border: 4px dashed #03000a;
    padding: 10px;
   }
   .img-circle {
    border: 3px solid rgb(146, 220, 233);
    border-radius: 50%;
   }
   hr {
     border-style: none;
     border-top-style: dotted;
     border-color: rgb(93, 8, 163);
     border-width: 5px;
     width: 5%;
          }
h3 {
  color: #395B64;
}
